.center {
    overflow: hidden;
    /* transform: 300px; */
  }

.page-container {
    font-size: 20px;
    background-color: rgb(29, 10, 73);
    color: white;
    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
    grid-template-rows: 10fr auto;
    width: 97vw;
    height: 97vh;
    text-align: center;
    gap: 20px;
    grid-template-areas: 
        "nav main main"
        "nav . footer";
}

.main-container {
    grid-area: main;
    display: grid;
    border-style: solid;
    border-color: red;
}

.nav-container {
    grid-area: nav;
    display: grid;
    border-style: solid;
    border-color: red;
}

.footer-container {
    grid-area: footer;
    display: grid;
    border-style: solid;
    border-color: red;
}

.turnOff_border {
    background-color: var(--main_color_darker);
    list-style-type: none;
    position: absolute;
    /* position: fixed; */
    text-align: left;
    color: rgb(255, 255, 255);
    border: 1px solid;
    right: 15px;
    top: 40px;
    z-index: 999;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

.turnOff_border:checked ~ .nav-container, .turnOff_border:checked ~ .main-container, .turnOff_border:checked ~ .footer-container {
    border: none !important;
    
}