 .nav-bar {
   position: absolute;
   text-align: center;
   left: 0;
   top: 0;
   z-index: -1;
   width: 64px;
   height: 100%;
   background-color: var(--main_color_darker);
   filter: drop-shadow(0 0 4px var(--main_color_darker));
   transition: 0.4s;
   transition-delay: 0.1s;
 }

 .img-container {
  position: absolute;
  display: flex;
  cursor: pointer;
  text-align: center;
  top: 0;
  left: 0;  
}

.img-container img {
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  width: 64px;
  height: 64px;
  transition: 0.4s;
}

.nav-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: -9999px;
}

.nav-container input:checked ~ .nav-bar {
  width: 228px;
  transition: width 0.7s;
}

input:checked ~ .img-container img {
  opacity: 0;
  translate: 158px;
  transition: 0.7s;
}

.img-container::after {
  content: url("/images/left_arrow.png");
  position: absolute;
  display: flex;
  cursor: pointer;
  text-align: center;
  top: 12px;
  left: 12px;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: 0.4s;
}

input:checked ~ .img-container::after {
  opacity: 1;
  translate: 158px;
  transition: 0.7s;
}


/* Default html navigation */
.nav-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events:none; 
  font-size: 30px;
  padding-left: 5px;
  padding-top: 5px;
  transition: 0.1s;
  opacity: 0;
}

.current-nav {
  transition: 0.2s;
  text-shadow: 0 0 2px white;
}

.default-nav {
  background-color: var(--main_color_darker);
  list-style-type: none;
  position: absolute;
  position: fixed;
  text-align: left;
  color: rgb(255, 255, 255);
  border: 1px solid;
  right: 15px;
  z-index: 999;
  width: 20px;
  height: 20px;
  transition: 0.4s;
}

.default-nav:hover {
  transition: 0.4s;
  width: 140px;
  height: 180px;
}

.default-nav:hover > .nav-flex{
  transition: 1s;
  opacity: 1;
  pointer-events: auto;
}

.default-nav a {
  color: white;
  user-select: none;
  transition: 0.4s;
}

.default-nav a:visited {
  color: white;
}

.default-nav a:hover, a:active {
  transition: 0.2s;
  text-shadow: 0 0 2px white;
}
